{% extends "base.html" %}
{% block content %}
<html lang="en">
<!-- divinectorweb.com -->
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Responsive Services Section Design using HTML and CSS</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stilius.css' %}">
</head>
<body class="kunas">
<div class="wrapper">
    <div class="box-area">
        <div class="icon-area">
            <i class="lni lni-text-align-left"></i>
        </div>
        <h6>Rašiniai</h6>
        <p>Rašinių rašymas visomis temomis, rašinių klaidų taisymas</p>
    </div>
    <div class="box-area custom">
        <div class="icon-area">
            <i class="lni lni-list"></i>
        </div>
        <h6>Testai</h6>
        <p>Testų sprendimas įvairiomis temomism klausimai-atsakymai</p>
    </div>
    <div class="box-area">
        <div class="icon-area">
            <i class="lni lni-postcard"></i>
        </div>
        <h6>CV</h6>
        <p>CV formavimas, gyvenimo aprašymo parašymas</p>
    </div>
    <div class="box-area">
        <div class="icon-area">
            <i class="lni lni-postcard"></i>
        </div>
        <h6>CV</h6>
        <p>CV formavimas, gyvenimo aprašymo parašymas</p>
    </div>
        <div class="box-area">
        <div class="icon-area">
            <i class="lni lni-postcard"></i>
        </div>
        <h6>CV</h6>
        <p>CV formavimas, gyvenimo aprašymo parašymas</p>
    </div>
        <div class="box-area">
        <div class="icon-area">
            <i class="lni lni-postcard"></i>
        </div>
        <h6>CV</h6>
        <p>CV formavimas, gyvenimo aprašymo parašymas</p>
    </div>
</div>
</body>
</html>

{% endblock %}