{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forma.css' %}">
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kontaktai - Essay.lt</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<main>
    <form action="" method="POST" class="requires-validation">
        {% csrf_token %}
        <div class="container-fluid konteineris">
            <div class="container deze-forma">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 deze-text-login justify-content-evenly">
                    <div class="col-lg-7 login-container">
                        <div class="row login-row">
                            <div class="col-lg-12 login-header">
                                <h1>Kontaktai</h1>
                                <br>
                                <p>Užpildykite formą</p>
                            </div>
                            <div class="col-lg-12 login-form">
                                <div class="row">
                                    <input type="text" placeholder="Įveskite slapyvardį" name="uname" id="uname"
                                           class="form-control" required>
                                </div>
                                <br>
                                <div class="row">
                                    <input type="email" placeholder="Įveskite el.pašto adresą" name="email" id="email"
                                           class="form-control" required>
                                </div>
                                <br>
                                <div class="row">
                        <textarea placeholder="Įveskite norima žinutę" name="" id="" class="form-control rows="
                                  3" required></textarea>
                                </div>
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-danger fw-bold" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <div class="row login-buttons">
                                <div class="row login-buttons-primary">
                                    <button id="submit" class="btn" type="submit">Išsiųsti</button>
                                </div>
                                <br><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>
</body>
</html>
{% endblock %}