{% url 'index' as index %}
{% url 'services' as services %}
{% url 'login' as login %}
{% url 'register' as register %}
{% url 'contacts' as contacts %}
{% url 'paskyra' as paskyra %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar sticky-top">
    <div class="logo">
        <a href="{% url 'index' %}">Essay.lt</a>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
    </label>

        <ul class="">
            <li><a class="{% if request.path == index %} active {% endif %}" href="{% url 'index' %}">Pagrindinis</a></li>
            <li><a class="{% if request.path == services %} active {% endif %}" href="{% url 'services' %}">Paslaugos</a>
            </li>
            <li><a class="{% if request.path == contacts %} active {% endif %}" href="{% url 'contacts' %}">Kontaktai</a>
            </li>
            {% if user.is_authenticated %}
            <li><a class="{% if request.path == paskyra %} active {% endif %}" href="{% url 'paskyra' %}">{{ user.get_username }}</a></li>
            <li><a href="{% url 'logout' %}">Atsijungti</a></li>
            {% else %}
            <li><a class="{% if request.path == login or request.path == register %} active {% endif %}"
                   href="{% url 'login' %}">Prisijungti</a></li>
            {% endif %}
        </ul>

</nav>

</body>
</html>
{% block content %}
{% endblock %}