{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <title>Pagrindinis - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<main>
    <div class="container-fluid konteineris1">
        <div class="container kontainer1">
            <div class="container kontainer1-1">
                <div class="row kontainer1-1header">
                    <h1>Rašyk geriau ir greičiau su Essay.lt</h1>
                </div>
                <br>
                <div class="row kontainer1-1desc">
                    <p>Mūsų AI Essay.lt chat asistentas pasiruošes jums padėti vos per kelias sekundes!</p>
                </div>
                <Br>
                <div class="row kontainer1-1button">
                    <div class="col-4 col-sm-4 col-lg-3 kontainer1-1button1">
                        <button class="btn btn-lg w-100" role="button" onclick="window.location='#kunas'">
                                    <span>Skaityti
                                    <i class="bi bi-arrow-down"></i>
                                  </span>
                        </button>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-3 kontainer1-1button2">
                        <button class="btn btn-lg w-100" role="button" onclick="window.location={% url 'planai' %}">
                            <span>Planai
                            <i class="bi bi-arrows-fullscreen"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid konteineris2">
        <div class="container kontainer2 reveal">
            <div class="container kontainer2-1">
                <div class="row kontainer2-1header">
                    <h1>Rašyk geriau ir greičiau su Essay.lt</h1>
                </div>
                <br>
                <div class="row kontainer2-1desc">
                    <p>Mūsų AI Essay.lt chat asistentas pasiruošes jums padėti vos per kelias sekundes!</p>
                </div>
                <Br>
                <div class="row kontainer2-1button">
                    <div class="col-4 col-sm-4 col-lg-3 kontainer2-1button1">
                        
                    </div>
                    <div class="col-4 col-sm-4 col-lg-3 kontainer2-1button2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paslaugu-kunas" id="kunas">
        <div class="paslaugu-wrapper">
            <a href="">
                <div class="paslaugu-box-area">
                    <div class="paslaugu-icon-area">
                        <i class="bi bi-piggy-bank"></i>
                    </div>
                    <div class="header-area">
                        <h6>Free</h6>
                    </div>
                    <div class="desc-area">
                        <p>Naudokis mūsų nemokama paslauga!</p>
                    </div>
                    <div class="price-area">
                        <h7>Nemokamai</h7>
                    </div>
                </div>
            </a>
    
            <a href="http://127.0.0.1:8000/subscribe/?sub_plan=Basic">
                <div class="paslaugu-box-area">
                    <div class="paslaugu-icon-area">
                        <i class="bi bi-cash"></i>
                    </div>
                    <div class="header-area">
                        <h6>Basic</h6>
                    </div>
                    <div class="desc-area">
                        <p>Naudokis visomis mūsų paslaugomis visą parą!</p>
                    </div>
                    <div class="price-area">
                        <h7>1€ / dieną</h7>
                    </div>
                </div>
            </a>
    
            <a href="http://127.0.0.1:8000/subscribe/?sub_plan=Premium">
                <div class="paslaugu-box-area">
                    <div class="paslaugu-icon-area">
                        <i class="bi bi-rocket"></i>
                    </div>
                    <div class="header-area">
                        <h6>Premium</h6>
                    </div>
                    <div class="desc-area">
                        <p>Naudokis visomis mūsų paslaugomis visą savaitę!</p>
                    </div>
                    <div class="price-area">
                        <h7>5€ / savaitę</h7>
                    </div>
                </div>
            </a>
    
            <a href="http://127.0.0.1:8000/subscribe/?sub_plan=Ultra">
                <div class="paslaugu-box-area">
                    <div class="paslaugu-icon-area">
                        <i class="bi bi-robot"></i>
                    </div>
                    <div class="header-area">
                        <h6>Ultra</h6>
                    </div>
                    <div class="desc-area">
                        <p>Naudokis visomis mūsų paslaugomis visą mėnesį!</p>
                    </div>
                    <div class="price-area">
                        <h7>10€ / mėnesį</h7>
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</main>
</body>
</html>
{% endblock %}
