{% extends "header.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="namu darbai, mokymasis, kontroliniai darbai, uzduotys, mokymasis internetu, lietuviu kalba, matematika, anglu kalba, spargalka, atsakymai, fizika, chemija, biologija, istorija, geografija, istorija, technologijos, literatura, ekonomika, programavimas, informatika, rasymas, rasiniai, testai, plagiatas, perfrazavimas, chatbotas, ai, greitas namu darbu atlikimas">
    <meta name="description" content="Ištaisykite visas teksto klaidas naudodamiesi mūsų AI Chatbotu, prieinamu Essay.lt! Mūsų chatbotas suteikia galimybę greitai ir užtikrintai ištaisyti tekste padarytas klaidas">
    <title>Klaidų taisytojas - Essay.lt</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<main>
    <div class="container-fluid konteineris">
        <div class="container deze-forma p-4">
            <div class="row deze-headeris-background">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 deze-headeris p-3">
                    <div class="col-12 col-lg-9 col-md-8 col-sm-8 headerio-title p-3">
                        <h1 class="w-100">Essay.lt - Klaidų taisytojas</h1>
                    </div>
                    <div class="col-12 col-lg-3 col-md-4 col-sm-4 headerio-mygtukas-atgal p-3">
                        <a href="{% url 'services' %}">
                            <button class="btn btn-lg w-100" role="button" type="submit">
                                <span>Atgal
                                    <i class="bi bi-box-arrow-left"></i>
                                </span>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 deze-input-output p-2 justify-content-evenly ">
                <div class="col col-lg-5 deze-inputas p-3">
                    <form method="POST">
                        {% csrf_token %}
                        <h3>Įrašykite savo norima tekstą:</h3>
                        <br>
                        <textarea class="w-100" placeholder="Įrašykite tekstą" required name="user_input"
                                  type="text"></textarea>
                        <br><br>
                        <button class="btn btn-lg w-100" role="button" type="submit">
                            <span>Atlikta
                                <i class="bi bi-check"></i>
                            </span>
                        </button>
                    </form>
                </div>
                <div class="col col-lg-5 deze-outputas  p-3">
                    <h3>Jūsų atsakymas!</h3>
                    <hr>
                    <div class="outputas">
                        {% if response %}
                        {{ response|safe }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
{% endblock %}