{% extends "header.html" %}
{% block content %}
<h1>Sveiki, {{ user.username }}, čia yra jūsų paskyros puslapis</h1>
<br>
<h1>Jusų el.paštas: {{ user.email }}</h1>
<br>
<h1>Paskyra sukurta: {{ user.date_joined }}</h1>
<br>
<h1>
    Jusu planas:
    {% if sub.user_membership.membership %}
    {{ sub.user_membership.membership }}
    {% else %}
    Jus neturrite jokio plano <a href="{% url 'planai' %}">Planai</a>
    {% endif %}
</h1>
<br>
<a href="{% url 'password_reset' %}">Pasikeisti slaptažodį</a>

{% endblock %}