{% extends "header.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="namu darbai, mokymasis, kontroliniai darbai, uzduotys, mokymasis internetu, lietuviu kalba, matematika, anglu kalba, spargalka, atsakymai, fizika, chemija, biologija, istorija, geografija, istorija, technologijos, literatura, ekonomika, programavimas, informatika, rasymas, rasiniai, testai, plagiatas, perfrazavimas, chatbotas, ai, greitas namu darbu atlikimas">
    <meta name="description" content="Essay.lt planai siūlo jums pasirinkti planą, kuris atitinka jūsų biudžetą. Pasirinkite nemokamą planą ir naudokitės mūsų nemokamomis paslaugomis, o norėdami pasinaudoti visomis paslaugomis - pasirinkite Basic, Premium ar Ultra planą, priklausomai nuo jūsų biudžeto. Mūsų paslaugos yra patikimos ir kokybiškos, o kainos yra prieinamos kiekvienam klientui. Užsisakykite dabar ir mėgaukitės visomis mūsų paslaugomis!">
    <title>Planai - Essay.lt</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/planai.css' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container-fluid">
<div class="kunas">
    <div class="wrappertop">
        <!-- VIETA IF'UI JEIGU NETURI PLANO MESTI ZINUTE, KAD UZSISAKYTI PLANA-->

        <h1 class="display-3">Išsirinkite sau parankiausia pasiūlymą!</h1>
    </div>
    <div class="wrapper row row-cols-2 row-cols-sm-2 row-cols-lg-4 row-cols-md-2">
        <a href="{% url 'services' %}" class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="box-area">

                <div class="icon-area">
                    <i class="bi bi-piggy-bank"></i>
                </div>
                <div class="header-area">
                    <h6 class="display-4">Free</h6>
                </div>
                <div class="desc-area">
                    <p class="h6">Naudokis mūsų nemokama paslauga!</p>
                </div>
                <div class="price-area">
                    <h7 class="display-5">Nemokamai</h7>
                </div>
            </div>
        </a>

        <a href="{% url 'basic' %}" class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-cash"></i>
                </div>
                <div class="header-area">
                    <h6 class="display-4">Basic</h6>
                </div>
                <div class="desc-area">
                    <p class="h6">Naudokis visomis mūsų paslaugomis visą parą!</p>
                </div>
                <div class="price-area">
                    <h7 class="display-5">1€ / dieną</h7>
                </div>
            </div>
        </a>

        <a href="{% url 'premium' %}" class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="box-area custom">
                <div class="icon-area">
                    <i class="bi bi-rocket"></i>
                </div>
                <div class="header-area">
                    <h6 class="display-4">Premium</h6>
                </div>
                <div class="desc-area">
                    <p class="h6">Naudokis visomis mūsų paslaugomis visą savaitę!</p>
                </div>
                <div class="price-area">
                    <h7 class="display-5">5€ / savaitę</h7>
                </div>
            </div>
        </a>

        <a href="{% url 'ultra' %}" class="col-12 col-sm-6 col-md-6 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-robot"></i>
                </div>
                <div class="header-area">
                    <h6 class="display-4">Ultra</h6>
                </div>
                <div class="desc-area">
                    <p class="h6">Naudokis visomis mūsų paslaugomis visą mėnesį!</p>
                </div>
                <div class="price-area">
                    <h7 class="display-5">10€ / mėnesį</h7>
                </div>
            </div>
        </a>

    </div>
</div>
</div>

</body>
</html>
{% endblock %}