{% extends "header.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="authcontainer">
        <div class="authuppercontainer">
            <h1>Register page</h1>
        </div>
    <div class="authlowercontainer">
    <fieldset>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="fname">First Name:</label>
        <input type="text" placeholder="Enter your first name" name="fname" id="fname" class="inline"><br>

        <label for="lname">Last Name:</label>
        <input type="text" placeholder="Enter your last name" name="lname" id="lname" class="inline"><br>

        <label for="uname">Username:</label>
        <input type="text" placeholder="Enter your Username" name="uname" id="uname" class="inline"><br>

        <label for="email">Email:</label>
        <input type="text" placeholder="Enter your email" name="email" id="email" class="inline"><br>

        <label for="pass">Password:</label>
        <input type="text" placeholder="Enter possword" name="pass" id="pass" class="inline"><br>

        <label for="pass2">Repeat pass:</label>
        <input type="text" placeholder="Repeat possword" name="pass2" id="pass2" class="inline"><br>
        </fieldset>
        <button type="submit">Registruotis</button>
    </form>
</div>
</div>

</body>
</html>

{% endblock %}

