{% extends "header.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="keywords" content="namu darbai, mokymasis, kontroliniai darbai, uzduotys, mokymasis internetu, lietuviu kalba, matematika, anglu kalba, spargalka, atsakymai, fizika, chemija, biologija, istorija, geografija, istorija, technologijos, literatura, ekonomika, programavimas, informatika, rasymas, rasiniai, testai, plagiatas, perfrazavimas, chatbotas, ai, greitas namu darbu atlikimas">
    <meta name="description" content="Essay.lt paslaugų puslapis - čia rasite visas mūsų teikiamas paslaugas iš kurių 2 yra nemokamos - perfrazuok bei klaidų taisymas. Visos kitos paslaugos yra galimos nusipirkus planą. Mūsų paslaugu asortimentas didelis. Čia rasite paslaugas kaip lietuviškų, bei angliškų tekstų rašymai, testų atlikimai, CV bet motyvacinio laiško kūrimai. Taip pat galite naudotis mūsų universalia paslauga - 'Paklausk' kuri atsakys į kiekvieną jūsų klausimą!">
    <title>Paslaugos - Essay.lt</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="container-fluid">
<div class="kunas">
    <div class="wrapper row row-cols-2 row-cols-sm-2 row-cols-lg-4 row-cols-md-3">

        <a href="{% url 'anglu' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-file-text"></i>
                </div>
                <h6 class="display-5">Angliški tekstai</h6>
                <p class="h6">Angliškų tekstų rašymas, įskaitant esę, laiškus ir pan</p>
            </div>
        </a>

        <a href="{% url 'rasiniai' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-journal-text"></i>
                </div>
                <h6 class="display-5">Rašiniai</h6>
                <p class="h6">Rašinių, laiškų, eilėraščių ir sonetų rašymas įvairiomis temomis</p>
            </div>
        </a>

        <a href="{% url 'testas' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area custom">
                <div class="icon-area">
                    <i class="bi bi-check-square"></i>
                </div>
                <h6 class="display-5">Testai</h6>
                <p class="h6">Testų sprendimas įvairiomis temomis</p>
            </div>
        </a>

        <a href="{% url 'perfrazuok' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-text-paragraph"></i>
                </div>
                <h6 class="display-6" id="free">NEMOKAMA</h6>
                <h6 class="h2">Perfrazuok</h6>
                <p class="h6">Tekstų perfrazavimas, eilėraščių ir rašinių keitimas</p>
            </div>
        </a>

        <a href="{% url 'paklausk' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-patch-question"></i>
                </div>
                <h6 class="display-5">Paklausk</h6>
                <p class="h6">Atsakymai į jūsų klausimus</p>
            </div>
        </a>

        <a href="{% url 'motyvacinis' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-envelope-check"></i>
                </div>
                <h6 class="display-5">Motyvacinis laiškas</h6>
                <p class="h6">Motyvacinio laiško rašymas, skirtas darbdaviams.</p>
            </div>
        </a>

        <a href="{% url 'cv' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-file-earmark-person"></i>
                </div>
                <h6 class="display-5">CV kūrimas</h6>
                <p class="h6">CV kūrimas ir gyvenimo aprašymo parašymas.</p>
            </div>
        </a>
        <a href="{% url 'klaidos' %}" class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="box-area">
                <div class="icon-area">
                    <i class="bi bi-pencil-square"></i>
                </div>
                <h6 class="display-6" id="free">NEMOKAMA</h6>
                <h6 class="h2">Klaidų taisymas</h6>
                <p class="h6">Rašybos ir gramatikos klaidų taisymas nemokamai.</p>
            </div>
        </a>


    </div>
</div>
</div>
</body>
</html>

{% endblock %}