@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow-x: hidden;
}


.form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    padding: 5%;
    width: 90%;
    max-width: 800px;

}

.form-content .form-items {
    margin-bottom: 10rem;
    border: 3px solid #29fd53;
    padding: 5%;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
}

.form-content h3, .form-content h1 {
    color: #fff;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5%;
}

.form-content h3.form-title {
    margin-bottom: 10%;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10%;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
    font-size: 1.5rem;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select, .form-content textarea {
    width: 100%;
    padding: 3%;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.8;
    font-size: 1.1rem;
    font-weight: 500;
    color: black;
    transition: all 0.3s ease;
    margin-top: 4%;
    height: 4rem;
}

.form-content input::placeholder, .form-content textarea::placeholder {
    font-size: 1.1rem;
}

.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    height: 150px;
}