{% extends "header.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slaptažodžio atkūrimas - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="form-body">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Pamiršote slaptažodį?</h3>
                        <p>Įveskite savo el.pašto adresą ir gaukite nuorodą</p>
                        <form action="." method="post">
                            <p>
                                <label for="{{ form.email.id_for_label }}">El.paštas:</label>
                                {{ form.email }}
                            </p>
                            <input type="submit" value="Išsiųsti" class="btn btn-success btn-lg w-100"
                                   placeholder="Įrašykite el.pašto adresą">
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

{% endblock %}