{% extends "header.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slaptažodžio atkūrimas - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/forma.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<main>
    {% if validlink %}
    <form action="." method="POST" class="requires-validation">

        <div class="container-fluid konteineris">
            <div class="container deze-forma">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 deze-text-login justify-content-evenly">

                    <div class="col-lg-7 login-container">
                        <div class="row login-row">
                            <div class="col-lg-12 login-header">
                                <h1>Pamiršote slaptažodį?</h1>
                                <br>
                                <p>Įveskite savo el. pašto adresą!</p>
                            </div>
                            <div class="col-lg-12 login-form">
                                <div class="row">
                                    <input type="password" name="new_password1" autocomplete="new-password" required
                                           id="id_new_password1" aria-autocomplete="list"
                                           placeholder="Naujas slaptažodis">
                                </div>
                                <br>
                                <div class="row">
                                    <input type="password" name="new_password2" autocomplete="new-password" required
                                           id="id_new_password2" placeholder="Pakartokite">
                                </div>
                                <div class="row">
                                    <input type="hidden" name="csrfmiddlewaretoken"
                                           value="GHXeG2tffQQoQJnrrWuDpnZukzFQn7PsWNnLFsiVmtyNgtXPSTAHFx1QPaFeWfbo">
                                </div>
                            </div>
                            <div class="row login-buttons">
                                <div class="row login-buttons-primary">
                                    {% csrf_token %}
                                    <button class="btn" type="submit">Pakeisti</button>
                                    {% else %}
                                    <p>Slaptažodžio nustatymo iš naujo nuoroda yra neteisinga, galbūt todėl, kad ji yra
                                        jau panaudota. Prašykite naujo slaptažodžio nustatymo.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</main>
</body>
</html>
{% endblock %}