<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slaptažodžio atkūrimas - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="form-body">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        Someone asked for password reset for email {{ email }}. Follow the link
                        below:
                        {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
                        Your username, in case you've forgotten: {{ user.get_username }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>