{% extends "header.html" %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slaptažodžio atkūrimas - Essay.lt</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<div class="form-body">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Atkurti slaptažodį</h3>
                        {% if validlink %}
                        <h3>Įrašykite nauja slaptažodį i laukelius</h3>
                        <form action="." method="post">
                            <p>
                                <label for="id_new_password1">Naujas slaptažodis:</label>
                                <input type="password" name="new_password1" autocomplete="new-password" required=""
                                       id="id_new_password1" aria-autocomplete="list">
                                <span class="helptext"></span>
                            </p>
                            <ul>
                                <li>
                                    Jūsų slaptažodis negali būti per daug panašus į kitą asmeninę informaciją.
                                </li>
                                <li>
                                    Jūsų slaptažodį turi sudaryti mažiausiai 8 simbolių.
                                </li>
                                <li>
                                    Jūsų slaptažodis negali būti dažnai naudojamas slaptažodis.
                                </li>
                                <li>
                                    Jūsų slaptažodis negali būti vien skaičiai
                                </li>
                            </ul>
                            <p></p>
                            <p><label for="id_new_password2">Pakartokite naują slaptažodį:</label> <input
                                    type="password"
                                    name="new_password2"
                                    autocomplete="new-password"
                                    required=""
                                    id="id_new_password2">
                            </p>
                            <input type="hidden" name="csrfmiddlewaretoken"
                                   value="GHXeG2tffQQoQJnrrWuDpnZukzFQn7PsWNnLFsiVmtyNgtXPSTAHFx1QPaFeWfbo">
                            {% csrf_token %}
                            <input class="btn btn-success btn-lg w-100" type="submit" value="Pakeisti slaptažodį"/>
                        </form>
                        {% else %}
                        <p>Slaptažodžio nustatymo iš naujo nuoroda yra neteisinga, galbūt todėl, kad ji yra
                            jau panaudota. Prašykite naujo slaptažodžio nustatymo.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{% endblock %}