* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    height: 100%;
}


.konteineris {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    min-height: 90vh;
    padding-top: 50px;
    padding-bottom: 50px;
}
.deze-forma {
    border-radius: 10px;
    background: linear-gradient(45deg,#888888a8,#e0e0e0,#8d8d8da8);
    animation: animate 15s infinite alternate;
    background-size: 200%;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
}
@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.deze-headeris {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.deze-headeris-background {
    border-radius: 10px;
    margin-bottom: 10px;
    background: #1b1b1b;
    margin-left: 10px;
    border: 3px solid #cec8c8a8;
}
.headerio-title, .headerio-title h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.headerio-mygtukas-atgal {
    align-items: start;
    background-color: transparent;
}
.headerio-mygtukas-atgal a {
    text-decoration: none;
}
.headerio-mygtukas-atgal button{
  align-items: center;
  background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(71, 209, 59, 0.2) 0 0 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.headerio-mygtukas-atgal button:hover, .headerio-mygtukas-atgal button:active {
    outline: 0;
}
.headerio-mygtukas-atgal button span {
  background-color: rgb(2, 2, 14);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.headerio-mygtukas-atgal button:hover span {
    background: none;
}

.headerio-title h1 {
    color: white;
}

.deze-input-output {
    background-color: transparent;
}

.deze-inputas, .deze-outputas {
    border-radius: 10px;
    background: #1b1b1b;
    margin: 10px;
    border: 3px solid #cec8c8a8;
}

.deze-inputas textarea, .deze-outputas textarea {
    border-radius: 10px;
    border: 2px solid #cec8c8a8;
    padding-top: 8px;
    padding-left: 8px;
    color: black;
    background-color: #e0e0e0;
}
.deze-inputas textarea:focus, .deze-outputas textarea:focus {
    transition: 0.5s;
    border: 1px solid #29fd53;
}

.deze-inputas textarea {
    min-height: 4vh;
    max-height: 30vh;
}


.deze-inputas select {
    border-radius: 10px;
    border: 1px solid #cec8c8a8;
    color: black;
    background-color: #e0e0e0;
    padding-left: 8px;
    font-size: large;
}
.deze-inputas select option {
    border-radius: 10px;
    border: 1px solid #cec8c8a8;
    padding-top: 8px;
    padding-left: 8px;
    color: black;
    background-color: #e0e0e0;
}
.deze-inputas a {
    text-decoration: none;
}
.deze-inputas button{
  align-items: center;
  background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(71, 209, 59, 0.2) 0 0 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 100px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.deze-inputas button:hover, .deze-inputas button:active {
    outline: 0;
}
.deze-inputas button span {
  background-color: rgb(2, 2, 14);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.deze-inputas button:hover span {
    background: none;
}


.deze-inputas h3 {
    background-color: transparent;
    color: white;
}
.deze-outputas h3 {
    background-color: transparent;
    color: white;
    text-align: center;
}
.deze-outputas hr {
  margin: 2em;
  font-size: 24%;
  color: black;
  height: 2px;
}

.outputas {
    color: white;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: left;
}

form {
    background-color: transparent;
}