*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100%;
    background-color: #152733;
    overflow-x: hidden;
}
.kunas {
    height: 100%;
}

.isorinis-konteineris {
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.konteineris {
    height: 75vh;
    background-color: transparent;
}

.isorinis-row-konteineris {
    background-color: transparent;
}

.inner-konteineris {
    height: 75vh;
    background-color: transparent;
}
form {
    background-color: transparent;
}

.row-konteineris {
    background-color: transparent;
}


.title-container {
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    border-radius: 50%;
    background-color: transparent;
}
.title-container h1 {
    height: 5vh;
    text-align: center;
    color: white;
    background-color: transparent;
}

.input-container1 {
    height: 20vh;
    justify-content: start;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: transparent;
}
.input-container1-motyvacinis {
    height: 15vh;
    background-color: transparent;
}

.input-container1-label textarea {
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 10vh;
    font-size: 1.2rem;
}

.input-container1-paklausk {
    color: white;
    background-color: transparent;
}
.input-container1-paklausk label h3, .input-container1-paklausk label {
    background-color: transparent;
}

.input-container1-paklausk textarea {
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 20vh;
    font-size: 1.2rem;
}


.input-container1-label {
    color: white;
    background-color: transparent;
}
.input-container1-label label{
    background-color: transparent;
}
.input-container1-label label h3 {
    background-color: transparent;
}

.input-container1-select {
    background-color: transparent;
}

.input-container1-select select {
    height: 5vh;
    font-size: 1.5rem;
    width: 40%;
    background-color: white;

}

.input-container1-select select option {
    background-color: white;
}

.input

.input-container2 {
    height: 35vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: transparent;
}
.input-container2 textarea {
    height: 25vh;
    font-size: 1.5rem;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    max-height: 35vh;
}

.button-container {
    height: 10vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    background-color: transparent;
}
.button-container button {
    height: 5vh;
}

.output-container {
    background-color: white;
    height: 65vh;
}