body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    height: 100vh;
    width: 100%;
}


.konteineris {
    margin-top: 100px;
}
.kontainer-1 {

}
.kontainer-1header {
    align-items: center;
    justify-content: center;

}

.kontainer-1header h1 {
    color: red;
    text-align: center;
    font-weight: 500;
    width: 100%;
}
.kontainer-1desc {
    align-items: center;
    justify-content: center;
}
.kontainer-1desc p, .kontainer-1desc h1 {
    text-align: center;
    color: white;
    background-color: transparent;
    width: 80%;
}

.kontainer-1button{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto;
}

.kontainer-1button1 form, .kontainer-1button2 {
    justify-content: center;
    align-items: center;
    display: flex;
}



.kontainer-1button1 button  {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(71, 209, 59, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .kontainer-1button1 button:hover, .kontainer1-1button2 button:active {
      outline: 0;
  }
  .kontainer-1button1 button span {
    background-color: white;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    color: black;
  }
  .kontainer-1button1 button:hover span {
      background: none;
      color: white;
  }


.kontainer-1button2 button {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(71, 209, 59, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .kontainer-1button2 button:hover, .kontainer1-1button2 button:active {
      outline: 0;
  }
  .kontainer-1button2 span {
  background-color: rgb(2, 2, 14);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  .kontainer-1button2 button:hover span {
      background: none;
  }

  .kontainer-1button1 a  {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(71, 209, 59, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .kontainer-1button1 a:hover, .kontainer1-1button2 a:active {
      outline: 0;
  }
  .kontainer-1button1 a span {
    background-color: white;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    color: black;
  }
  .kontainer-1button1 a:hover span {
      background: none;
      color: white;
  }