* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    height: 100vh;
    width: 100%;
}

.konteineris {
    padding: calc(100% - 96%);
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.deze-forma {
}

.deze-text-login {
    padding: 2px;
    background-color: transparent;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 10px;
    margin-bottom: 30px;
}



.login-row {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.login-header {
    padding-top: 30px;
    background-color: transparent;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    padding-top: 50px;
}
.login-header h1, .login-header p {
    align-items: center;
    text-align: center;
    background: transparent;
}
.login-header h1 {
}
.login-header p {
    padding-bottom: 15px;
}
.login-header p a {
    background-color: transparent;
    color: #636363
}
.login-header p a:hover {
    transition: 0.5s;
    text-decoration: none;
    color:#29fd53
}
.login-form {
    padding-top: 10px;
    background-color: transparent;
    align-items: center;
    margin: auto;
    justify-content: center;
}
.login-form .row {
    align-items: center;
    margin: auto;
    justify-content: center;
    background-color: transparent;

}
.login-form .row a {
    width: 50%;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 35px;
    color: grey;
    background-color: transparent;

}
.login-form .row a:hover {
    transition: 0.5s;
    color:#29fd53
}
.login-form input {
    width: 70%;
    border-radius: 10px;
    box-shadow:  0 0 10px 0.01px black;
    height: 50px;
    cursor: pointer;
}
.login-form textarea, .pamirsau-slaptazodi {
    width: 70%;
    border-radius: 10px;
    box-shadow:  0 0 10px 0.01px black;
    cursor: pointer;
    padding-left: 15px;
    padding-top:8px;
    min-height: 100px;
    max-height: 200px;
}


.login-buttons {
    padding-top: 10px;
    background-color: transparent;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}
 .login-buttons-primary, .login-buttons-secondary {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    background-color: transparent;
 }

 .login-buttons-primary {
    width: 50%;
 }
 .login-buttons-primary button {
  align-items: center;
  background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
  border: 0;
  border-radius: 25px;
  box-shadow: rgba(71, 209, 59, 0.2) 0 0 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  width: 180px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 15px;
 }
 .login-buttons-primary button:hover, .login-buttons-primary button:active {
    outline: 0;
 }
 .login-buttons-primary button span {
    background-color: rgb(2, 2, 14);
  padding: 16px 24px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.login-buttons-primary button:hover span {
    background: none;
}


 .login-buttons-secondary1 {
    background-color: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 auto;
 }
 .login-buttons-secondary1 a {
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 35px;
    color: grey;
    background-color: transparent;
 }
 .login-buttons-secondary1 a:hover {
    transition: 0.5s;
    color:#29fd53
 }

 .linkas1 {
    align-items: center;
    background-color: transparent;
    text-align: center;
    margin-bottom: 10px;
 }

 .linkas2 {
    align-items: center;
    background-color: transparent;
    text-align: center;
 }