

body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    min-height: 100%;
    overflow-x: hidden;
}


.konteineris1 {
    padding-top: 100px;
}
.kontainer1-1 {
 
}
.kontainer1-1header {
    align-items: center;
    justify-content: center;
    
}

.kontainer1-1header h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    width: 100%;
}
.kontainer1-1desc {
    align-items: center;
    justify-content: center;
}
.kontainer1-1desc p {
    text-align: center;
    color: white;
    opacity: 0.5;
    background-color: transparent;
    width: 80%;
}

.kontainer1-1button {
    justify-content: center;
    align-items: center;
}

.kontainer1-1button1, .kontainer1-1button2 {
    justify-content: center;
    align-items: center;
    display: flex;
}
.kontainer1-1button1 button {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(71, 209, 59, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .kontainer1-1button1 button:hover, .kontainer1-1button2 button:active {
      outline: 0;
  }
  .kontainer1-1button1 span {
    background-color: white;
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
    color: black;
  }
  .kontainer1-1button1 button:hover span {
      background: none;
      color: white;
  }
  
.kontainer1-1button2 a {
    text-decoration: none;
}
.kontainer1-1button2 button, .kontainer3-input .mygtukas {
  align-items: center;
  background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(71, 209, 59, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 10px;
}
.kontainer1-1button2 button:hover, .kontainer1-1button2 button:active, .kontainer3-input .mygtukas:hover, .kontainer3-input:active {
    outline: 0;
}
.kontainer1-1button2 span, .kontainer3-input span {
background-color: rgb(2, 2, 14);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.kontainer1-1button2 button:hover span, .kontainer3-input .mygtukas:hover span {
    background: none;
}

.konteineris2 {
    padding-top: 150px; 
}

.kontainer2-1header {
    align-items: center;
    justify-content: center;
}
.kontainer2-1header h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    width: 100%;
}

.kontainer2-1desc {
    align-items: center;
    justify-content: center;
}
.kontainer2-1desc p {
    text-align: center;
    color: white;
    opacity: 0.8;
    background-color: transparent;
    width: 80%;
}

.kontainer2-photos {
    align-items: center;
    justify-content: center;
    display: flex;
}
.kontainer2-photo1 {
    text-align: center;
}
.kontainer2-arrow {
    text-align: center;
}
.kontainer2-arrow i {
    color: white;
}
.kontainer2-photo2 {
    text-align: center;
}
.kontainer2-photos img {
    border-radius: 20px;
}


.konteineris3 {
    padding-top: 50px; 
}

.kontainer3-1header {
    align-items: center;
    justify-content: center;
}
.kontainer3-1header h1 {
    color: #29fd53;
    text-align: center;
    font-weight: 800;
    width: 100%;
    
}


.kontainer3-content {
    align-items: center;
    justify-content: center;
    display: flex;
}
.kontainer3-input, .kontainer3-output {
    text-align: center;
    background: #1b1b1b;
    border-radius: 20px;
    border: 5px solid white;
}
.kontainer3-input textarea {
    border-radius: 10px;
    border: 2px solid #cec8c8a8;
    padding-top: 5px;
    padding-left: 5px;
    color: black;
    background-color: #e0e0e0;
    min-height: 5vh;
    max-height: 30vh;
}
.kontainer3-input textarea:focus {
    transition: 0.5s;
    border: 1px solid #29fd53;
}
.kontainer3-input h3 {
    background-color: transparent;
    color: white;
    text-align: left;
    padding-top: 10px;
}
.kontainer3-input .mygtukas {
    margin-bottom: 12px;
    box-shadow: rgba(71, 209, 59, 0.2) 0 0 15px;
}
.kontainer3-arrow {
    text-align: center;
}
.kontainer3-arrow i {
    color: white;
}

.kontainer3-output {
    color: white;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: left;
}
.kontainer3-output .container {
    min-height: 5vh;
}

.kontainer3-output h3 {
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.kontainer3-output hr {
    margin: 2em;
    font-size: 24%;
    color: black;
    height: 2px;
  }







.paslaugu-kunas {
    align-items: center;
    justify-content: center;
    min-height: 100%;
    font-family: poppins;
    text-align: center;
    color: white;
}
.planai-header h1 {
    padding-top: 50px;
    color: white;
    text-align: center;
    font-weight: 700;
    width: 100%;
}
.paslaugu-wrapper {
    padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.paslaugu-box-area {
    border-radius: 20px;
	margin: 10px 0px;
	padding: 40px;
	background-color: #1b1b1b;
	transition: all 0.4s ease-in-out;
	border: 1px solid grey;
    margin-bottom: 40px;
}
.paslaugu-icon-area {
    width: 100%;
	padding-bottom: 40px;
}
.paslaugu-icon-area i {
    font-size: 50px;
	color: white;
}
.paslaugu-box-area h6 {
    margin-bottom: 10px;
	color: white;
	font-family: bebas neue;
}

.paslaugu-box-area h7 {
    color: white;
    margin-bottom: 10px;
    font-family: bebas neue;
}

.paslaugu-box-area:hover {
    background-color: #1b1b1b;
    box-shadow: 0 0 25px #29fd53;
    
}
.paslaugu-box-area:hover i {
    color: #29fd53;
    background-color: #1b1b1b;
}
.paslaugu-box-area:hover h6 {
    color: #29fd53;
}
.paslaugu-box-area:hover h7 {
  color:#29fd53;
}
.paslaugu-box-area:hover p {
    color: #29fd53;
}

.paslaugu-wrapper a, .paslaugu-wrapper a:hover {
    text-decoration: none;
    color: white;
}