body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    height: 100vh;
}
.isorinis-konteineris {
    align-items: center;
    justify-content: center;
    height: 60%;
    display: flex;
    margin: 0;
}

.konteineris, .konteineris1 {
    align-items: center;
    justify-content: center;
    font-family: poppins;
    text-align: center;
    color: white;
}




 .icon-area1 i, .text-area1 h1 {
    font-weight: 800;
    color: darkred
}
.icon-area i, .text-area h1{
    font-weight: 800;
    color: green
}

.button-area {
    padding-top:25px;
    align-items: center;
    justify-content: center;
}
.button-area button, .button-area button {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    width: 100px;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.button-area button:hover, .button-area button:active, .button-area button:hover, .button-area button:active {
    outline: 0;
}
.button-area button span, .button-area button span {
    background-color: rgb(2, 2, 14);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}
.button-area button:hover span, .button-area button:hover span {
    background: none;
}