body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    font-family: poppins;
    width: 100%;
    min-height: 100vh;
}



.konteineris {
    padding-top: 100px;
}

.kaires-konteineris {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: inline-block;
}
.desines-konteineris {
    justify-content: center;
    align-items: center;
    margin: 0;
    display: block;
}
.navbaras {
    background-color: transparent;
}
.navbaras li {
    background-color: transparent;
    color: white;
    text-align: center;
    font-weight: 400
}

.form-div {
    margin-bottom: 10px;
}

.form-container {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.form-container input {
    width: 100%;
    border-radius: 50px;
    box-shadow:  0 0 10px  black;
    height: 50px;
    cursor: pointer;
    padding-left: 10px;
    border-color: white;
}

.form-container label {
    text-align:left;
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.form-container h3 {
    margin: 10px 0px;
    color: white;
    text-align: center;
}
.form-container h3 a {
    color:#29fd53
}

.form-container-button1 a {
    text-decoration: none;
}
.form-container-button2 button {
    align-items: center;
    background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
    border: 0;
    border-radius: 20px;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
}
.form-container-button2 button:hover, .form-container-button2 button:active {
    outline: 0;
}
.form-container-button2 span {
  background-color: white;
  padding: 16px 24px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  color: black;
}
.form-container-button2 button:hover span {
    background: none;
    color: white;
}

.form-container-button1 button {
align-items: center;
  background-image: linear-gradient(144deg, #29fd53 , #4ee4b7 50%, #2b8ab6);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.form-container-button1 button:hover, .form-container-button1 button:active {
    outline: 0;
}
.form-container-button1 span {
    background-color: rgb(2, 2, 14);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}
.form-container-button1 button:hover span {
    background: none; 
}
.form-container-button1 {
    margin-bottom: 50px;
}