.zodis{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: white;
  }

  body {
    background: linear-gradient(rgb(20, 20, 20), rgb(39, 39, 39));
    height: 100%;
}

  .kunas {
      align-items: center;
      justify-content: center;
      font-family: poppins;
      text-align: center;
      color: white;
      min-height: 100vh;
  }

  .wrapper {
      padding: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
  }
  .wrappertop {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .wrappertop h1 {
    font-size: 60px;
  }
  .box-area {
    border-radius: 20px;
      width: 350px;
      margin: 40px;
      padding: 40px;
      background-color: #1b1b1b;
      transition: all 0.6s ease-in-out;
  }
  .box-area .icon-area {
      width: 100%;
      margin-bottom: 40px;
  }
  .icon-area i {
      font-size: 70px;
      color: white;
  }
  .box-area h6 {
      margin-bottom: 10px;
      color: white;
      font-size: 50px;
      font-family: bebas neue;
  }
  .box-area h7 {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
    font-family: bebas neue;
  }
  .box-area:hover {
      background-color: #1b1b1b;
      box-shadow: #29fd53 5px 5px, #29fd53c0 10px 10px, #29fd5380 15px 15px, #29fd5367 20px 20px, #29fd532d 25px 25px;

  }
  .box-area:hover i {
      color: #29fd53;
      background-color: #1b1b1b;
  }
  .box-area:hover h6 {
      color: #29fd53;
  }
  .box-area:hover h7 {
    color:#29fd53;
  }
  .box-area:hover p {
      color: #29fd53;
  }

  .wrapper a, .wrapper a:hover {
      text-decoration: none;
      color: white;
  }
