* {
    box-sizing: border-box;
}

main {
    
}



.konteineris {
    background-color: #1b1b1b;
}
.deze-forma {
    border-radius: 10px;
    background: linear-gradient(45deg,#888888a8,#e0e0e0,#8d8d8da8);
    animation: animate 15s infinite alternate;
    background-size: 200%;
}
@keyframes animate {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}
.deze-headeris {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.deze-headeris-background {
    border-radius: 10px;
    margin-bottom: 10px;
    background: #1b1b1b;
    margin-left: 10px;
    border: 3px solid #cec8c8a8;
}
.headerio-title, .headerio-title h1 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.headerio-mygtukas-atgal {
    align-items: start;
    background-color: transparent;
}

.headerio-mygtukas-atgal button{
    border-radius: 10px;
    border: 1px solid #8d8d8da8;
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
}
.headerio-mygtukas-atgal button:hover {
    color: #29fd53;
    transition: 0.5s;
    border: 1px solid #29fd53;
}
.headerio-title h1 {
    color: white;
}

.deze-input-output {
    background-color: transparent;
}

.deze-inputas, .deze-outputas {
    border-radius: 10px;
    background: #1b1b1b;
    margin: 10px;
    border: 3px solid #cec8c8a8;
}

.deze-inputas textarea, .deze-outputas textarea {
    border-radius: 10px;
    border: 2px solid #cec8c8a8;
    padding-top: 8px;
    padding-left: 8px;
    color: black;
    background-color: #e0e0e0;
}
.deze-inputas textarea:focus, .deze-outputas textarea:focus {
    transition: 0.5s;
    border: 1px solid #29fd53;
}

.deze-inputas textarea {
    min-height: 4vh;
    max-height: 30vh;
}


.deze-inputas select {
    border-radius: 10px;
    border: 1px solid #cec8c8a8;
    color: black;
    background-color: #e0e0e0;
    padding-left: 8px;
    font-size: large;
}
.deze-inputas select option {
    border-radius: 10px;
    border: 1px solid #cec8c8a8;
    padding-top: 8px;
    padding-left: 8px;
    color: black;
    background-color: #e0e0e0;
}
.deze-inputas button {
    border-radius: 10px;
    border: 1px solid #8d8d8da8;
    background-color: #1b1b1b;
    color: white;
    cursor: pointer;
}

.deze-inputas button:hover {
    color: #29fd53;
    transition: 0.5s;
    border: 1px solid #29fd53;
}


.deze-inputas h3 {
    background-color: transparent;
    color: white;
}
.deze-outputas h3 {
    background-color: transparent;
    color: white;
    text-align: center;
}
.deze-outputas hr {
  margin: 2em;
  font-size: 24%;
  color: black;
  height: 2px;
}

.outputas {
    color: white;
    background-color: transparent;
    margin: 0;
    display: flex;
    justify-content: top;
    align-items: left;
}

form {
    background-color: transparent;
}